/* Navbar */
.navbar__logo {
  height: unset;
}

.navbar {
  box-shadow: none;
}

.navbar__link {
  font-weight: var(--nobl9-font-weight-bold);
}

.dropdown__link {
  font-weight: var(--nobl9-font-weight-bold);
}

@media screen and (min-width: 997px) {
  .menu__sidebar--link {
    color: var(--ifm-menu-sidebar-color);
    flex: 1;
    justify-content: space-between;
    line-height: 1.25;
    padding: var(--ifm-menu-link-padding-vertical) var(--ifm-menu-link-padding-horizontal);
  }

  .menu__sidebar--link.menu__link--active,
  .menu__sidebar--link:hover {
    color: var(--ifm-sidebar-link-color)!important;
  }
  .menu {
    padding-top: 50px!important;
  }
}