.menu__link--sublist:after {
    background: var(--ifm-menu-link-sublist-icon) 50% / 2rem 2rem;
}
.theme-doc-sidebar-item-link-level-1,
.theme-doc-sidebar-item-category-level-1 {
    text-transform: uppercase;
}

.theme-doc-sidebar-item-link-level-2 {
    text-transform: none;
}

.menu__link--sublist:after,
.menu__caret:before {
    background: transparent;
    background-image: url('../../static/img/Chevron.svg');
    background-repeat: no-repeat;
    background-position: center;
    transform: rotateZ(180deg);
}
.menu__list-item--collapsed .menu__link--sublist:after,
.menu__list-item--collapsed .menu__caret:before {
    transform: rotateZ(0deg);
}

.theme-doc-sidebar-item-link.theme-doc-sidebar-item-link-level-3.menu__list-item, .theme-doc-sidebar-item-category-level-2 {
    text-transform: none;
}

.menu__list-item,
.menu__list-item:not(:first-child) {
    margin-top: 10px;
}